*
{
    padding: 0;
    margin: 0;
}
body{
    background-color: #0E273C;
    text-align: center;
}
#heading
{
    color: #E8D7F1;
    font-size: 50px;
}

.main_box
{
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
   

}
.game
{
    height: 60vmin;/*IT MEANS HOW MUCH PERCENT OF THE TOTAL AREA*/
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* gap: 0.5vmin; */


}
.innerbox
{
    height:18vmin;
    width: 18vmin;
    background-color: #A167A5;
    margin: 5px;
    border: 4px solid #D3BCCC;
    border-radius: 0.5rem;
    box-shadow: 0,0,5rem,rgba(184, 119, 164, 0.5);/*it is a unique thing*/
    font-size: 8vmin;
    color: #0E273C;


}
.resetbtn
{
    padding: 0.5rem;
    font-size: 3vmin;
    background-color: #D3BCCC;
    color: #0E273C;
    border-radius: 0.5rem;
    box-shadow: 0,0,5rem,rgba(184, 119, 164, 0.5);
}
.msg
{
    margin-top: 0.5rem;
    color: #E8D7F1;
}
#new_game
{
    padding: 0.5rem;
    font-size: 3vmin;
    background-color: #D3BCCC;
    color: #0E273C;
    border-radius: 0.5rem;
    box-shadow: 0,0,5rem,rgba(184, 119, 164, 0.5);
    margin-top: 0.5rem;

}
.hide
{
    display: none;
}
.color1
{
    color: rgb(199, 182, 182);

}
.color2
{
    color: #0E273C;

}
